<% content_for :title, @category.name %>

<div class="py-8">
  <div class="container mx-auto px-4">
    <%= link_to 'Back to Categories', categories_path, class: 'text-xs bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 mb-4 inline-block' %>
    <h1 class="text-xl sm:text-2xl font-bold text-center mb-8"><%= @category.name %></h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8">
      <% @products.each do |product| %>
        <%= link_to product_path(product), class: "group" do %>
          <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-200 ease-in-out hover:scale-105">
            <% if product.images.attached? %>
              <%= image_tag url_for(product.images.first), class: "w-full h-36 sm:h-48 object-cover rounded-t-lg" %>
            <% else %>
              <div class="w-full h-36 sm:h-48 bg-gray-200 rounded-t-lg"></div>
            <% end %>
            <div class="p-4">
              <h3 class="text-base sm:text-lg font-semibold text-gray-800 group-hover:text-green-600"><%= product.name %></h3>
              <p class="mt-1 sm:mt-2 text-sm sm:text-base text-gray-600"><%= product.description %></p>
              <p class="mt-1 sm:mt-2 font-bold text-base sm:text-lg text-green-600"><%= number_to_currency(product.price) %></p>
            </div>
            <div class="absolute inset-0 bg-black bg-opacity-25 opacity-0 group-hover:opacity-100 transition-opacity duration-200 flex items-center justify-center text-white text-sm sm:text-lg font-semibold">
              View Product
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <div class="mt-8">
      <%= paginate @products %>
    </div>
  </div>
</div>

